@import '../_global.variables';

:host {
  width: 100%;
  height: $navbar-height;
  position: fixed;
  top: 0;
  background-color: #3A0053;
  color: white;
  display: flex;
  justify-content: center;
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
}

span {
  display: flex;
  align-items: center;
}

img {
  height: 2em;
  margin-right: 1em;
}
