header {
    width: 100%;
    padding-bottom: 20%;
    position: relative;

    div {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #6A0080;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

ol {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    position: relative;
    width: 30%;
    margin: 6px;

    :after {
      content: '';
      padding-bottom: 100%;
      display: block;
    }

    p {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, .75);
        color: white;
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover img {
        transform: scale(1.1);
    }
}

.member {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        height: 100%;
        will-change: transform;
        transition: transform 500ms;
    }
}

h1 {
  text-align: center;
}

@media (max-width: 600px) {
  header {
    padding-bottom: 40%;
  }

  li {
    width: 100%;

    :after {
      padding-bottom: 40%;
    }
  }

  .member img {
    width: 100%;
    height: auto;
  }
}
