<div *ngIf="list | async; let list">
  <header>
    <div>
      <h1>{{ list.name }}</h1>
      <p>{{ list.description }}</p>
    </div>
  </header>
  <ol>
    <li *ngFor="let member of list.members">
      <a [routerLink]="['/profile', member.profile.id]">
        <!-- <div class="member" [ngStyle]="{
          'background-image': 'url(' + member.profile.image + ')'
        }"> -->
        <div class="member">
          <img [src]="member.profile.image">
        </div>
        <p>{{ member.rank }}. {{ member.profile.name }}</p>
      </a>
    </li>
  </ol>
</div>
