<form *ngIf="listFormGroup" [formGroup]="listFormGroup" (submit)="onSubmit($event)">
  <label>Name: </label><input type="text" formControlName="name"><br>
  <label>Description: </label><input type="text" formControlName="description"><br>
  <input type="submit">
</form>
<div class="profiles">
  <h2>Profiles</h2>
  <ul>
    <li *ngFor="let profile of profiles | async">
      {{ profile.name }} <button (click)="addProfile(profile)">Add</button>
    </li>
  </ul>
</div>
<div class="members">
  <h2>Members</h2>
  <ul>
    <li *ngFor="let member of members | async; let first = first; let last = last;">
      {{ member.rank }}. {{ member.profileId }}
      <button (click)="removeMember(member)">Remove</button>
      <button *ngIf="!first" (click)="shiftMember(member, 'up')">Up</button>
      <button *ngIf="!last" (click)="shiftMember(member, 'down')">Down</button>
    </li>
  </ul>
</div>
