img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.main {
    margin: auto;
    margin-top: 40vh;
    background: rgba(255, 255, 255, .6);
    width: 90%;
    padding: 1em;
    position: relative;
}

.rank {
    font-size: 20px;
    color: gold;
    background-color: #333333;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 1em;
}