<div class="image-container">
  <img class="profile-image" [src]="profile.image">
</div>

<div class="main">

  <header>
    <p *ngIf="list" class="rank">{{ getRank(list) }}</p>
    <h1>{{ profile.name }}</h1>
  </header>

  <section class="bio">
    <h3>Bio</h3>
    <p>{{ profile.bio }}</p>
  </section>

  <section class="info">
    <div *ngIf="profile.powers" class="powers">
      <h3>Powers</h3>
      <ul>
        <li *ngFor="let power of profile.powers">{{ power.name }}</li>
      </ul>
    </div>
  </section>

  <nav *ngIf="list">
    <a *ngIf="getMember('previous'); let prevMember;" [routerLink]="[ '/profile', prevMember.id ]">
      <img src="/assets/ic_arrow_back_black_24px.svg">
    </a>
    <a [routerLink]="[ '/', listId ]">Back to {{ list.name }}</a>
    <a *ngIf="getMember('next'); let nextMember;" [routerLink]="[ '/profile', nextMember.id ]">
      <img src="/assets/ic_arrow_forward_black_24px.svg">
    </a>
  </nav>

</div>
