img {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.main {
    margin: auto;
    margin-top: 40vh;
    background: white;
    opacity: .5;
    width: 90%;
    padding: 1em;

}